version: "3.8"
# TODO: add Django superuser creation
services:
  db:
    image: postgres:14
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
  redis:
    image: redis:alpine

  web:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    ports:
      - ${PORT}:8000
    env_file:
      - ./.env
    depends_on:
      - db

  bot:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    command: python run_polling.py
    env_file:
      - ./.env
    depends_on:
      - web

  celery:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    command: celery -A dtb worker --loglevel=INFO
    env_file:
      - ./.env
    depends_on:
      - redis
      - web

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    command: celery -A dtb beat -l info --scheduler django_celery_beat.schedulers.DatabaseScheduler
    env_file:
      - ./.env
    depends_on:
      - redis
      - celery
      - web

volumes:
  postgres_data:
